.container {
  width: 100%;
  height: 100%;
  position: relative;

  .field {
    width: 100%;
    height: 100%;
  }

  .sider {
    position: absolute;
    top: 0;
    right: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 256px;
  }

  .tips {
    position: absolute;
    top: 0;
    left: 0;
  }

  .clients {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}